.login-container {

  height: 23rem;
  width: 25vw;
  border-radius: 10px;
  background-color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-shadow: 10px 20px 12px 0 rgba(0, 0, 0, 0.32), 0 35px 20px 0 rgba(0, 0, 0, 0.5);
}

.login-container input {
  width: 80% !important;
  margin-left: 25px;
  height: 45px;
  margin-top: -1em;
}

.login-title {
    color: white;
    height: 40px;
    text-align: center;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.3), 0 10px 12px 0 rgba(0, 0, 0, 0.23);
  
    background-color: rgb(39, 122, 133);
    width: 16em;
    margin-left: -.22em;
    margin-top: -12em;
    margin-bottom: 13em;
  }

label {
    padding-top: 2em;
  margin-left: 37px;
  font-weight: 200%;
  font-size: 15px;
  color: black;
  padding-bottom: -5em;
  box-shadow: 0px 0px 1px 0 rgba(0, 0, 0, 0.1), 0 3px 0px 0 rgba(0, 0, 0, 0.05);

}


.login-button {
  padding: 15px;
  text-align: center;
  font-weight: 700;

}

.login-button .btn {
  width: 18rem;
  margin-right: 15px;
  margin-left: 10px;
  background-color: rgb(39, 122, 133);

}

.forgot {
  color: black;
  margin-top: 5px;
}

.rot-icon{
  transform: rotate(-90deg);
  display: inline-block;

}