
.sidebar-container{
    width: 20%;
    margin: 0%;
    padding: 0%;
    height: 150vh;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    border-right: 5px solid tomato;
}

.sidebar-title{
    margin-top: 10vh;
    text-align: center;
    font-size: 25px;
}
.sidebar-items{
    padding-left: 20px;
}

.emp-active{
    background-color: red;
    color: red;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.11), 0 10px 12px 0 rgba(0, 0, 0, 0.21);
}